<div class ='center padded white-bg'>
  <div class='content padded'>
    <div class="padded">
      <h1>No estas convencido? mila lo que he construído!</h1>
    </div>
    <div class='row'>
      <div class="card third">
        <h3>Mailer app</h3>
        <p>Una aplicación que envia correos utilizando la API de Sendgrid.</p>
        <a class="orange" target='_blank' href="#">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Gestor de clientes</h3>
        <p>Una aplicación para gestionar mis clientes.</p>
        <a class="orange" href="#">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Gestor de tareas</h3>
        <p>Una aplicación para gestionar mis tareas.</p>
        <a class="orange" href="#">Link aquí</a>
      </div>
    </div>
  </div>
</div>