<div class='center'>
    <div class='content'>
        <div class='row vert-pat'>
            <div class='left padded'>
                <h1> Desarrollo con pasión aplicaciones y sitios web para personas y empresas</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologias
            y desarrollando aplicaciones por placer. Esta web la construí desde cero con Python y Flask!
            Y quiero conocer aún más este mundo</p>
            </div>
            <div class='right padded'>
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Sólo enviame un correo <a class='orange' href='#contacto'>
                    Pinchando aquí</a></p>
            </div>
        </div>
    </div>
</div>