body {
    background-color: #efefef;
    margin: 0;
    color: #034d6c;

}

a {
    justify-content: space-between;
    transition: color 0.3s ease;
    fot-family: 'Rubik', sans-serif;
    color: #034d6c;
    text-decoration: none;
    font-weight:700;
}
a:hover {
color: #f84f07;
}

html body header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 0 5px #aaa;
    padding: 15px 30px;
    position: relative;
    z-index: 2;
}

header logo {
    font-sice: 20px;
    fot-family:'Rubik', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
 }

html body nav ul {
    list-style-type: none;
    font-size: 16px;
}
html body nav ul li {
    display: inline-block;
}
html body nav ul li a {
    padding: 0 15px;
}
.hero {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: #fff;
    padding: 20px 50px;
    justify-content: center;
}
.hero .hero-content {
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.hero h1 {
    font-family: 'Rufina', sans-serif;
    font-size: 50px;
    font_weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.hero p {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
}
.left {
    width: 600px;
    align-self: center;
}
.btn {
    background-color: #f84f07;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
a.btn {
    color: #fff;
}
.center {
    display: flex;
    justify-content: center;
}
.content {
    width: 1200px;
    }